.menu {
    background-color: red;
}
.vehiculo {
    text-align: center;
}
.servicios {
    background-color: black;
}
.nosotros {
    background-image: url(../img/mt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.descripcion {
    font-size: 1.7rem;
    font-weight: 700;
}
body {
    font-family: 'Kanit', sans-serif;
    h1 {
        font-size: 4rem;
        font-weight: 700;
    }
}
.sombra {
    box-shadow: 10px -8px 5px  white;
}   
.sombra1 {
    box-shadow: -10px 8px 5px -1px white;
} 
.contenido {
    color: white;
    text-align: center;
    .cajas {
        margin: 15px;
        padding: 5px 295px;
        border-radius: 30px;
    }
}
.copyright {
    background-color: black;
    color: white
}